In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# -----------------------------------------------------------------------------
from scipy.stats import chi2_contingency, ttest_ind, shapiro, kstest, poisson, chisquare, expon

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

| `Nombre columna English`         | `En Español`                        |
|--------------------------------|-----------------------------------|
| Loyalty Number                 | Número de fidelización            |
| Year                           | Año                               |
| Month                          | Mes                               |
| Flights Booked                 | Vuelos Reservados                 |
| Flights with Companions        | Vuelos con acompañantes           |
| Total Flights                  | Total de vuelos                   |
| Distance                       | Distanciarse                      |
| Points Accumulated             | Puntos acumulados                 |
| Points Redeemed                | Puntos canjeados                  |
| Dollar Cost Points Redeemed    | Puntos de costo en dólares canjeados |
| Country                        | País                    |
| Province                       | Provincia               |
| City                           | Ciudad                  |
| Postal Code                    | Código Postal           |
| Gender                         | Género                  |
| Education                      | Educación               |
| Salary                         | Salario                 |
| Marital Status                 | Estado Civil            |
| Loyalty Card                   | Tarjeta de Lealtad      |
| CLV                            | Valor del Cliente (CLV) |
| Enrollment Type                | Tipo de Inscripción     |
| Enrollment Year                | Año de Inscripción      |
| Enrollment Month               | Mes de Inscripción      |
| Cancellation Year              | Año de Cancelación      |
| Cancellation Month             | Mes de Cancelación      |

In [4]:
df_union = pd.read_csv('DF_sin_duplicados.csv')
df_union.sample(10)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
197850,882466,2017,12,16,3,19,2755,275.0,438,36,Canada,Saskatchewan,Regina,S1J 3C5,Male,Bachelor,84048.0,Single,Aurora,10876.48,Standard,2016,3,NaN,NaN
257305,666702,2017,12,2,0,2,1088,108.0,0,0,Canada,Ontario,Toronto,M2Z 4K1,Female,Doctor,199894.0,Married,Nova,6503.40,Standard,2017,4,2017.0,12.0
367025,924787,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V6E 3Z3,Male,College,NaN,Divorced,Star,2004.35,Standard,2016,3,2018.0,12.0
36509,185919,2018,8,4,3,7,3619,361.0,458,37,Canada,British Columbia,Victoria,V10 6T5,Female,College,NaN,Married,Star,2226.59,Standard,2013,11,NaN,NaN
241721,728021,2018,3,6,1,7,2205,237.6,0,0,Canada,British Columbia,Vancouver,V6E 3Z3,Male,Bachelor,85364.0,Married,Star,12741.85,Standard,2013,12,NaN,NaN
120244,239970,2017,8,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V1E 4R6,Male,Doctor,206392.0,Married,Star,5146.81,Standard,2015,8,NaN,NaN
313166,658330,2018,7,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Female,Bachelor,58228.0,Divorced,Star,3895.96,Standard,2017,2,NaN,NaN
33330,985211,2017,2,0,0,0,0,0.0,0,0,Canada,Quebec,Montreal,H2T 2J6,Male,College,NaN,Married,Nova,6714.07,Standard,2014,4,NaN,NaN
135736,167578,2017,9,2,2,4,2352,235.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Master,100817.0,Married,Nova,16301.97,Standard,2012,7,NaN,NaN
246132,672600,2018,3,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Male,College,NaN,Single,Nova,19228.46,Standard,2017,2,NaN,NaN

In [5]:

# EXPLORAR LOS DATAFRAME EN GENERAL 

def exploracion_datos(df):
    print(' Filas y Columnas del DATAFRAME \n')
    print(f"El número de filas que tenemos es de {df.shape[0]}.\nEl número de columnas es de {df.shape[1]}\n")
    print('____________________________________________________________\n')
    
    print(' Nombre de todas las Columnas del DATAFRAME: \n')
    print(df.columns)
    print('____________________________________________________________\n')
    
    print('INFORMACIÓN GENERAL DEL DATAFRAME \n')
    print(df.info())
    print('____________________________________________________________\n')
    
    print('Ver los NULOS del DataFrame \n')
    print(f'Nulos de todo el data: --> {df.isnull().sum().mean() * 100} \n')
    for columna in df.columns:
        cantidad_valores_nulos = df[columna].isnull().mean() * 100
        print(f'La columna {columna}: {cantidad_valores_nulos}')
    print('____________________________________________________________\n')
    
    print('Valores ÚNICOS por columna:\n')
    for columna in df.columns:
        cantidad_valores_unicos = df[columna].unique()
        print(f'La columna {columna}: {len(cantidad_valores_unicos)}')
        print(f'La columna {columna}: {cantidad_valores_unicos}')
        
    print('____________________________________________________________\n')
    
    print('Valores DUPLICADOS por columna es de:\n')
    for columna in df.columns:
        cantidad_duplicados = df[columna].duplicated().sum()
        print(f'La columna {columna}: {cantidad_duplicados}')
    print('____________________________________________________________\n')
  
    print('--> RESUMEN ESTADÍSTICO \n')
    print('<<< Variables Numéricas >>> \n')
    print(df.describe().T)
    print('<<< Variables Categóricas >>> \n')
    print(df.describe(include='object').T)

In [6]:
exploracion_datos(df_union)

 Filas y Columnas del DATAFRAME

El número de filas que tenemos es de 403760.
El número de columnas es de 25

____________________________________________________________

 Nombre de todas las Columnas del DATAFRAME:

Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights with Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed',
       'Country', 'Province', 'City', 'Postal Code', 'Gender', 'Education',
       'Salary', 'Marital Status', 'Loyalty Card', 'CLV', 'Enrollment Type',
       'Enrollment Year', 'Enrollment Month', 'Cancellation Year',
       'Cancellation Month'],
      dtype='object')
____________________________________________________________

INFORMACIÓN GENERAL DEL DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403760 entries, 0 to 403759
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
 10  Country                      403760 non-null  object
 11  Province                     403760 non-null  object
 12  City                         403760 non-null  object
 13  Postal Code                  403760 non-null  object
 14  Gender                       403760 non-null  object
 15  Education                    403760 non-null  object
 16  Salary                       301500 non-null  float64
 17  Marital Status               403760 non-null  object
 18  Loyalty Card                 403760 non-null  object
 19  CLV                          403760 non-null  float64
 20  Enrollment Type              403760 non-null  object
 21  Enrollment Year              403760 non-null  int64
 22  Enrollment Month             403760 non-null  int64
 23  Cancellation Year            49650 non-null   float64
 24  Cancellation Month           49650 non-null   float64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.0+ MB
None
____________________________________________________________

Ver los NULOS del DataFrame

Nulos de todo el data: --> 3241920.0

La columna Loyalty Number: 0.0
La columna Year: 0.0
La columna Month: 0.0
La columna Flights Booked: 0.0
La columna Flights with Companions: 0.0
La columna Total Flights: 0.0
La columna Distance: 0.0
La columna Points Accumulated: 0.0
La columna Points Redeemed: 0.0
La columna Dollar Cost Points Redeemed: 0.0
La columna Country: 0.0
La columna Province: 0.0
La columna City: 0.0
La columna Postal Code: 0.0
La columna Gender: 0.0
La columna Education: 0.0
La columna Salary: 25.32692688725976
La columna Marital Status: 0.0
La columna Loyalty Card: 0.0
La columna CLV: 0.0
La columna Enrollment Type: 0.0
La columna Enrollment Year: 0.0
La columna Enrollment Month: 0.0
La columna Cancellation Year: 87.70309094511592
La columna Cancellation Month: 87.70309094511592
____________________________________________________________

Valores ÚNICOS por columna:

La columna Loyalty Number: 16737
La columna Loyalty Number: [100018 100102 100140 ... 999731 999788 999891]
La columna Year: 2
La columna Year: [2017 2018]
La columna Month: 12
La columna Month: [ 1  9  2  3 11  4  5  7  6  8 10 12]
La columna Flights Booked: 22
La columna Flights Booked: [ 3 10  6  0  8 11  9  4  7  5  2  1 12 13 14 16 15 17 18 19 20 21]
La columna Flights with Companions: 12
La columna Flights with Companions: [ 0  4  7  1  6  3  5  2 10  8  9 11]
La columna Total Flights: 33
La columna Total Flights: [ 3 14  6  0 15 11 12 10  8  9  7  5 16  2  1 17 13 22  4 19 18 21 26 20
 23 25 27 24 28 30 29 31 32]
La columna Distance: 4746
La columna Distance: [1521 2030 1200 ... 1217  617 4135]
La columna Points Accumulated: 1549
La columna Points Accumulated: [152.   203.   120.   ...  18.75 601.   626.  ]
La columna Points Redeemed: 587
La columna Points Redeemed: [  0 341 364 310 445 312 343 366 389 292 447 324 456 409 436 327 322 291
 323 300 290 309 325 386 321 363 340 670 443 517 444 328 344 367 313 333
 293 449 297 455 372 356 405 381 466 419 369 352 482 335 329 305 415 396
 317 348 314 334 350 330 318 298 420 336 471 680 441 353 484 301 374 417
 501 299 398 307 368 306 347 439 395 481 337 382 426 373 399 424 326 392
 438 467 480 448 308 400 376 375 460 339 385 611 431 320 362 404 442 410
 361 319 435 414 464 477 315 485 370 421 349 371 416 496 510 667 465 434
 346 487 408 500 360 378 345 358 479 380 411 491 505 446 425 476 393 418
 332 401 454 303 594 506 355 302 403 379 437 561 483 597 391 562 342 407
 490 468 488 457 365 357 463 388 413 351 462 440 493 507 338 377 428 525
 390 473 359 423 519 453 522 429 450 383 469 402 354 422 458 384 656 461
 427 478 523 719 538 515 394 472 433 387 540 530 498 512 452 311 470 541
 331 570 527 658 494 638 486 509 316 492 536 502 551 504 304 296 294 495
 432 526 459 589 529 586 537 503 552 779 516 639 474 547 542 557 406 563
 511 518 532 553 508 560 676 716 593 513 499 566 497 546 451 533 489 708
 531 567 521 412 430 610 528 556 582 720 397 578 772 571 534 539 576 585
 520 601 598 630 524 588 550 514 573 544 669 577 580 591 614 574 579 595
 618 776 548 602 543 581 572 607 603 564 620 615 636 575 584 559 648 590
 545 627 608 568 625 637 632 650 600 613 621 535 587 475 592 624 619 554
 583 628 558 664 789 635 617 699 604 646 659 616 704 569 626 609 751 599
 644 800 677 666 596 612 629 657 675 702 683 633 811 688 565 706 605 549
 662 660 295 673 555 631 715 651 697 792 678 655 707 668 687 622 642 781
 695 711 701 721 623 693 692 640 665 684 745 808 746 749 694 643 725 850
 703 726 691 740 737 689 765 649 690 661 696 682 700 750 771 798 710 736
 757 743 654 758 647 606 718 739 814 761 783 679 766 777 799 723 653 730
 681 760 793 742 685 734 839 782 735 756 795 728 780 802 815 851 820 770
 705 738 645 686 755 754 778 671 634 762 784 717 797 744 672 768 790 741
 824 748 674 825 794 845 827 801 714 731 724 876 747 663 709 823 791 804
 832 698 727 833 810 864 753 840 722 641 822 834 844 865 869 733 828 773
 713 821 849 767 759 729 803 838 775 818 843 830 847 872 809 786 812 785
 841 752 712 816 289 652 787 852 848 769 846 870 871 796 807 774 805 763
 806 836 837 857 813 873 732 826 858 817 829 819 866 842 861 855 831 875
 868 835 764 862 874 860 863 854 788 867 859]
La columna Dollar Cost Points Redeemed: 49
La columna Dollar Cost Points Redeemed: [ 0 28 30 25 36 32 24 26 37 33 35 27 31 54 42 29 38 34 39 55 41 49 40 48
 45 53 58 44 43 46 52 47 63 57 62 51 50 64 56 61 65 60 68 59 66 69 67 71
 70]
La columna Country: 1
La columna Country: ['Canada']
La columna Province: 11
La columna Province: ['Alberta' 'Ontario' 'British Columbia' 'Saskatchewan' 'Quebec'
 'Newfoundland' 'Manitoba' 'New Brunswick' 'Nova Scotia'
 'Prince Edward Island' 'Yukon']
La columna City: 29
La columna City: ['Edmonton' 'Toronto' 'Dawson Creek' 'Vancouver' 'Regina' 'Montreal'
 'Sudbury' 'Quebec City' 'Peace River' "St. John's" 'Tremblant' 'Ottawa'
 'Trenton' 'Winnipeg' 'Thunder Bay' 'West Vancouver' 'Fredericton'
 'London' 'Halifax' 'Moncton' 'Banff' 'Kingston' 'Whistler'
 'Charlottetown' 'Hull' 'Victoria' 'Calgary' 'Kelowna' 'Whitehorse']
La columna Postal Code: 55
La columna Postal Code: ['T9G 1W3' 'M1R 4K3' 'U5I 4F1' 'V5R 1W3' 'P1L 8X8' 'P1J 8T7' 'S6J 3G0'
 'H2T 9K8' 'V6E 3D9' 'M5V 1G5' 'H2Y 4R4' 'M8Y 4K8' 'V6E 3Z3' 'G1B 3L5'
 'T9O 2W2' 'A1C 6H9' 'H5Y 2S9' 'K1F 2R2' 'K8V 4B2' 'R3R 3T4' 'P1W 1K4'
 'K8T 5M5' 'V6V 8Z3' 'M2M 7K8' 'E3B 2H2' 'M5B 3E4' 'H2Y 2W2' 'P5S 6R4'
 'P2T 6G3' 'B3J 9S2' 'B3C 2M8' 'H4G 3T4' 'R6Y 4T5' 'H2T 2J6' 'M2Z 4K1'
 'S1J 3C5' 'E1A 2A7' 'V1E 4R6' 'T4V 1D4' 'M9K 2P4' 'R2C 0M5' 'T3G 6Y6'
 'M2M 6J7' 'V6T 1Y8' 'C1A 6E8' 'J8Y 3Z5' 'V10 6T5' 'H3T 8L4' 'T3E 2V9'
 'V09 2E9' 'Y2K 6R0' 'K1G 4Z0' 'M2P 4F6' 'M3R 4K8' 'H3J 5I6']
La columna Gender: 2
La columna Gender: ['Female' 'Male']
La columna Education: 5
La columna Education: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
La columna Salary: 5891
La columna Salary: [92552.    nan 63253. ... 23160. 97206. 56345.]
La columna Marital Status: 3
La columna Marital Status: ['Married' 'Single' 'Divorced']
La columna Loyalty Card: 3
La columna Loyalty Card: ['Aurora' 'Nova' 'Star']
La columna CLV: 7984
La columna CLV: [7919.2  2887.74 2838.07 ... 6990.69 3151.16 8409.07]
La columna Enrollment Type: 2
La columna Enrollment Type: ['Standard' '2018 Promotion']
La columna Enrollment Year: 7
La columna Enrollment Year: [2016 2013 2015 2014 2012 2017 2018]
La columna Enrollment Month: 12
La columna Enrollment Month: [ 8  3  7  1  9  5 10  2  4  6 11 12]
La columna Cancellation Year: 7
La columna Cancellation Year: [  nan 2018. 2015. 2016. 2014. 2013. 2017.]
La columna Cancellation Month: 13
La columna Cancellation Month: [nan  3.  9.  2.  7.  6.  8.  4.  1.  5. 11. 12. 10.]
____________________________________________________________

Valores DUPLICADOS por columna es de:

La columna Loyalty Number: 387023
La columna Year: 403758
La columna Month: 403748
La columna Flights Booked: 403738
La columna Flights with Companions: 403748
La columna Total Flights: 403727
La columna Distance: 399014
La columna Points Accumulated: 402211
La columna Points Redeemed: 403173
La columna Dollar Cost Points Redeemed: 403711
La columna Country: 403759
La columna Province: 403749
La columna City: 403731
La columna Postal Code: 403705
La columna Gender: 403758
La columna Education: 403755
La columna Salary: 397869
La columna Marital Status: 403757
La columna Loyalty Card: 403757
La columna CLV: 395776
La columna Enrollment Type: 403758
La columna Enrollment Year: 403753
La columna Enrollment Month: 403748
La columna Cancellation Year: 403753
La columna Cancellation Month: 403747
____________________________________________________________

--> RESUMEN ESTADÍSTICO

<<< Variables Numéricas >>>

                                count           mean            std  \
Loyalty Number               403760.0  549875.383713  258961.514684
Year                         403760.0    2017.500352       0.500000
Month                        403760.0       6.501335       3.451982
Flights Booked               403760.0       4.134050       5.230064
Flights with Companions      403760.0       1.036569       2.080472
Total Flights                403760.0       5.170619       6.526858
Distance                     403760.0    1214.460979    1434.098521
Points Accumulated           403760.0     124.263761     146.696179
Points Redeemed              403760.0      30.838587     125.758002
Dollar Cost Points Redeemed  403760.0       2.495973      10.172033
Salary                       301500.0   79258.576285   34983.929798
CLV                          403760.0    7990.864857    6863.317160
Enrollment Year              403760.0    2015.250716       1.979427
Enrollment Month             403760.0       6.667555       3.398829
Cancellation Year             49650.0    2016.504350       1.380482
Cancellation Month            49650.0       6.962095       3.454362

                                   min        25%        50%        75%  \
Loyalty Number               100018.00  326699.00  550598.00  772152.00
Year                           2017.00    2017.00    2018.00    2018.00
Month                             1.00       4.00       7.00      10.00
Flights Booked                    0.00       0.00       1.00       8.00
Flights with Companions           0.00       0.00       0.00       1.00
Total Flights                     0.00       0.00       1.00      10.00
Distance                          0.00       0.00     525.00    2342.00
Points Accumulated                0.00       0.00      53.00     240.00
Points Redeemed                   0.00       0.00       0.00       0.00
Dollar Cost Points Redeemed       0.00       0.00       0.00       0.00
Salary                       -58486.00   59262.00   73479.00   88606.00
CLV                            1898.01    3981.78    5776.34    8937.12
Enrollment Year                2012.00    2014.00    2015.00    2017.00
Enrollment Month                  1.00       4.00       7.00      10.00
Cancellation Year              2013.00    2016.00    2017.00    2018.00
Cancellation Month                1.00       4.00       7.00      10.00

                                   max
Loyalty Number               999986.00
Year                           2018.00
Month                            12.00
Flights Booked                   21.00
Flights with Companions          11.00
Total Flights                    32.00
Distance                       6293.00
Points Accumulated              676.50
Points Redeemed                 876.00
Dollar Cost Points Redeemed      71.00
Salary                       407228.00
CLV                           83325.38
Enrollment Year                2018.00
Enrollment Month                 12.00
Cancellation Year              2018.00
Cancellation Month               12.00
<<< Variables Categóricas >>>

                  count unique       top    freq
Country          403760      1    Canada  403760
Province         403760     11   Ontario  130258
City             403760     29   Toronto   80775
Postal Code      403760     55   V6E 3D9   21944
Gender           403760      2    Female  202757
Education        403760      5  Bachelor  252567
Marital Status   403760      3   Married  234845
Loyalty Card     403760      3      Star  183745
Enrollment Type  403760      2  Standard  380419

In [15]:
# Seleccionar solo las columnas numéricas
numeric_columns = df_union.select_dtypes(include=['number']).columns

# Encontrar las columnas que tienen valores negativos
negative_values = (df_union[numeric_columns] < 0).any()

# Mostrar las columnas que contienen valores negativos
columns_with_negatives = negative_values[negative_values].index.tolist()
print(f"Columns with negative values: {columns_with_negatives}")

# Si quieres ver las filas que contienen valores negativos en las columnas identificadas
rows_with_negatives = df_union[df_union[columns_with_negatives].lt(0).any(axis=1)]
rows_with_negatives

Columns with negative values: ['Salary']

,Loyalty_Number,Year,Month,Flights_Booked,Flights_with_Companions,Total_Flights,Distance,Points_Accumulated,Points_Redeemed,Dollar_Cost_Points_Redeemed,Country,Province,City,Postal_Code,Gender,Education,Salary,Marital_Status,Loyalty_Card,CLV,Enrollment_Type,Enrollment_Year,Enrollment_Month
291,115505,2017,1,0,0,0,0,0.0,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Bachelor,-10605.0,Married,Nova,5860.17,2018 Promotion,2018,4
956,152016,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1J 8T7,Female,Bachelor,-58486.0,Married,Aurora,5067.21,2018 Promotion,2018,2
1716,194065,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Sudbury,M5V 1G5,Female,Bachelor,-31911.0,Married,Nova,2888.85,2018 Promotion,2018,2
2081,212128,2017,1,3,0,3,1959,195.0,0,0,Canada,Ontario,Toronto,P2T 6G3,Male,Bachelor,-49001.0,Married,Nova,3130.68,2018 Promotion,2018,2
2433,232755,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V1E 4R6,Female,Bachelor,-46683.0,Single,Nova,4787.81,2018 Promotion,2018,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398813,734647,2018,12,15,0,15,1440,144.0,0,0,Canada,Saskatchewan,Regina,S1J 3C5,Male,Bachelor,-46303.0,Married,Nova,11280.73,2018 Promotion,2018,4
399884,790475,2018,12,7,1,8,1056,105.0,0,0,Canada,Ontario,Trenton,K8V 4B2,Female,Bachelor,-34079.0,Married,Nova,12913.50,2018 Promotion,2018,2
402017,906428,2018,12,13,0,13,2912,291.0,0,0,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,-57297.0,Married,Star,10018.66,2018 Promotion,2018,4
402459,430398,2018,12,5,5,10,660,66.0,539,44,Canada,Newfoundland,St. John's,A1C 6H9,Male,Bachelor,-17534.0,Married,Nova,49423.80,2018 Promotion,2018,3
403021,959977,2018,12,14,6,20,4280,428.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Female,Bachelor,-12497.0,Married,Aurora,9453.00,2018 Promotion,2018,3

In [16]:
df_union['Salary'] = df_union['Salary'].abs()

In [17]:
df_union.Salary

0          92552.0
1              NaN
2              NaN
3          63253.0
4          91163.0
            ...
403755         NaN
403756    217943.0
403757     47670.0
403758         NaN
403759     46594.0
Name: Salary, Length: 403760, dtype: float64

In [19]:
# Seleccionar solo las columnas numéricas
numeric_columns = df_union.select_dtypes(include=['number']).columns

# Encontrar las columnas que tienen valores negativos
negative_values = (df_union[numeric_columns] < 0).any()

# Mostrar las columnas que contienen valores negativos
columns_with_negatives = negative_values[negative_values].index.tolist()
print(f"Columns with negative values: {columns_with_negatives}")

Columns with negative values: []

In [11]:
df_union['Salary']

0          92552.0
1              NaN
2              NaN
3          63253.0
4          91163.0
            ...
403755         NaN
403756    217943.0
403757     47670.0
403758         NaN
403759     46594.0
Name: Salary, Length: 403760, dtype: float64

In [20]:
df_union['Salary'] = df_union['Salary'].abs()

In [7]:
# ELIMINO ESTAS 2 COLUMNAS PORQUE TIENEN UN 88% DE NULOS
df_union.drop(["Cancellation Year", "Cancellation Month"], axis=1, inplace=True )

In [9]:
df_union.columns = df_union.columns.str.replace(" ", "_")
df_union.sample(1)

,Loyalty_Number,Year,Month,Flights_Booked,Flights_with_Companions,Total_Flights,Distance,Points_Accumulated,Points_Redeemed,Dollar_Cost_Points_Redeemed,Country,Province,City,Postal_Code,Gender,Education,Salary,Marital_Status,Loyalty_Card,CLV,Enrollment_Type,Enrollment_Year,Enrollment_Month
349854,818995,2018,9,8,8,16,3920,392.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Male,Bachelor,70226.0,Married,Nova,3208.23,Standard,2014,11